<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFME.Windows" version="4.0.270" targetFramework="net472" developmentDependency="true" />
  <package id="FFmpeg.AutoGen" version="4.0.0.4" targetFramework="net472" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net452" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net452" />
  <package id="Vlc.DotNet.Wpf" version="2.2.1" targetFramework="net452" />
</packages>